.header-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  font-size: calc(10px + 2vmin);
}

.header-wrapper h1 {
  height: 90px;
  pointer-events: none;
}
